/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    background-color: #b2bec3;
    margin: 0;
}

h1 {
    color: #d63031;
    font-weight: bold;
    font-size: 36px;
    margin: 0 0 30px 0;

}

.vizitka {
    background-color: white;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 550px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 15px grey;
    padding: 30px;
}

.fotka {
    width: 150px;
    height: auto;
    border: white solid 3px;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: -50px;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    text-align: justify;
    font-size: 18px;
}

.Twitter, .Facebook {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
    background-color: #1da1f2;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 0;
    }

.Twitter a:hover {
    color: #0b7bc1;
}
.Facebook {
    background-color:#3b5998;
    margin-top: 5px;
}

.Facebook a:hover {
    color: #2b406e;
}